@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    font-family: 'Questrial', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    height: 145px;
    position: fixed;
    z-index: 99;
    top: 0px;
    margin-bottom: 145px;
    border-bottom: 5px solid #2E9984;
}

.ContainerGrid{
    width: 1200px;
    margin: 0 auto;
}

.ContainerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.LogoHeader{
    margin-right: 82px;
}

.NavHeader{
    display: flex;
    width: 100%;;
    justify-content: space-between;
    align-items: center;
}

.LinkPagina{
    text-decoration: none;
    color: #52615E;
    font-size: 34px; /* Diminuir na de admin  */
    font-weight: 400;
}

.LinkImagem img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.LinkPaginaAtual{
    text-decoration: none;
    color: #2E9984;
    font-size: 34px; /* Diminuir na de admin  */
    font-weight: 400;
    text-decoration-line: underline;
}

main{
    margin-top: 145px;
}



/* Resto da main */


.AdminMain{
    padding-bottom: 120px;
    background: rgba(123, 224, 203, 0.3);
}

.AdminAcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerBoxAdminPadrao{
    padding: 40px 80px 40px 80px;
    background: #FFFFFF;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.ContainerBoxAdminPadrao h1{
    color: #1D6153;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}

.ContainerBoxAdminPadrao .ListarTodos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.ListarTodos button{
    background: none;
    border: none;
    text-decoration: none;
    text-decoration-line: underline;
    color: #1D6153;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
}

.ListarTodos table{
    width: 100%;
    border-collapse:collapse;
    border:solid #52615E 1px;
}

.ListarTodos td, th{
    border-left:solid #52615E 1px;
    border-top:solid #52615E 1px;
    padding: 10px;
    text-align: center;
}

.ListarTodos th {
    font-size: 36px;
    font-weight: 400;
    color: #52615E;
    border-top: none;
}

.ListarTodos td {
    font-size: 30px;
    font-weight: 400;
    color: #52615E;
}

.ListarTodos td button{
    color: #52615E;
    margin-bottom: 0px;
}

.ListarTodos td:first-child, th:first-child {
    border-left: none;
}

.ContainerBoxAdminPadrao .Atualizar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.Atualizar form{
    width: 100%;
}

.Atualizar .ElementosEnvio{
    display: flex;
    width: 570px;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.Atualizar .ElementosEnvio button{
    background: none;
    border: none;
    text-decoration-line: underline;
    color: #1D6153;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
}

.Atualizar .ElementosEnvio input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #52615E;
    font-size: 36px;
    color: #52615E;
    font-weight: 400;
    padding-left: 20px;
}

.Atualizar .ElementosDados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Atualizar .ElementosDados .LinhaDados{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Atualizar .ElementosDados input, select{
    width: 422px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #52615E;
    font-size: 36px;
    font-weight: 400;
    padding-left: 20px;
}

.Atualizar .CampoDado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    justify-content: space-between;
    margin-top: 50px;
}

.Atualizar .CampoDado label{
    font-size: 36px;
    color: #52615E;
    font-weight: 400;
}

.ContainerBoxAdminPadrao .Deletar{
    display: flex;
    width: 570px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
}

.ContainerBoxAdminPadrao .Deletar button{
    background: none;
    border: none;
    text-decoration-line: underline;
    color: #1D6153;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
}

.ContainerBoxAdminPadrao .Deletar input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #52615E;
    font-size: 36px;
    color: #52615E;
    font-weight: 400;
    padding-left: 20px;
}

.ContainerBoxAdminCentralizado{
    padding: 40px 80px 40px 80px;
    background: #FFFFFF;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.ContainerBoxAdminCentralizado h1{
    color: #1D6153;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}

.ContainerBoxAdminCentralizado .ListarTodos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.ContainerBoxAdminCentralizado .Atualizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.ContainerBoxAdminCentralizado .Atualizar form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.ContainerBoxAdminCentralizado .CadastrarAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ContainerBoxAdminCentralizado .CadastrarAdmin button{
    background: none;
    border: none;
    text-decoration-line: underline;
    color: #1D6153;
    font-size: 36px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 40px;
}

.ContainerBoxAdminCentralizado .CadastrarAdmin .CampoCadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ContainerBoxAdminCentralizado .CadastrarAdmin label{
    font-size: 36px;
    color: #52615E;
    font-weight: 400;
}

.ContainerBoxAdminCentralizado .CadastrarAdmin input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #52615E;
    font-size: 36px;
    color: #52615E;
    font-weight: 400;
    padding-left: 20px;
}

.BoxAdmin{
    margin-top: 120px;
}


/* Resto da main */



footer{
    background-color: #356158;
    height: 360px;
}

.ContainerFooter{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.BoxFooterEsquerda{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

.BoxFooterEsquerda span{
    color: white;
    font-size: 30px;
    text-align: right;
}

.BoxFooterEsquerda ul{
    color: white;
    font-size: 22px;
    text-align: right;
    list-style: inside;
}

.BoxFooterEsquerda ul li{
    margin-bottom: 20px;
}

.BoxFooterDireita{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.BoxFooterDireita span{
    color: white;
    font-size: 30px;
    text-align: left;
}

.BoxFooterDireita ul{
    color: white;
    font-size: 22px;
    text-align: left;
    list-style: inside;
}

.BoxFooterDireita ul li{
    margin-bottom: 20px;
}

@media(max-width:760px){

    /* Header, footer e grid abaixo */


    .ContainerGrid{
        width: 730px;
    }

    .LogoHeader{
        margin-right: 30px;
        width: 75px;
        height: 75px;
    }

    .LinkPaginaAtual{
        font-size: 22px;
    }

    .LinkPagina{
        font-size: 22px;
    }

    .LinkImagem img{
        height: 50px;
        width: 50px;
    }

    .BoxFooterEsquerda{
        width: 250px;
    }

    .BoxFooterEsquerda span{
        font-size: 22px;
    }

    .BoxFooterEsquerda ul{
        font-size: 15px;
    }

    .ContainerFooter img{
        height: 75px;
        height: 75px;
    }

    .BoxFooterDireita{
        width: 250px;
    }

    .BoxFooterDireita span{
        font-size: 22px;
    }

    .BoxFooterDireita ul{
        font-size: 15px;
    }


    /* Header, footer e gridacima */


    .ContainerBoxAdminPadrao .Atualizar .ElementosDados input, .ContainerBoxAdminPadrao .Atualizar .ElementosDados select{
        width: 270px;
    }

    .ListarTodos th, .ListarTodos td{
        font-size: 25px;
    }

    .Atualizar .CampoDado{
        width: 50%;
        height: auto;
    }
}