<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/19f123f6-9fdc-41dc-b67b-b9eb9e323334/resourceGroups/SpMedGroup-resources/providers/Microsoft.Web/sites/spmedgroup-api-pedro</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spmedgroup-api-pedro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>caa8d848-f0e8-4a7d-b179-df55687021a3</ProjectGuid>
    <PublishUrl>https://spmedgroup-api-pedro.scm.azurewebsites.net/</PublishUrl>
    <UserName>$spmedgroup-api-pedro</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>