@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
    font-family: 'Questrial', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    height: 145px;
    position: fixed;
    z-index: 99;
    top: 0px;
    margin-bottom: 145px;
    border-bottom: 5px solid #2E9984;
}

.ContainerGrid{
    width: 1200px;
    margin: 0 auto;
}

.ContainerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.LogoHeader{
    margin-right: 82px;
}

.NavHeader{
    display: flex;
    width: 100%;;
    justify-content: space-between;
    align-items: center;
}

.LinkPagina{
    text-decoration: none;
    color: #52615E;
    font-size: 34px; /* Diminuir na de admin  */
    font-weight: 400;
}

.LinkImagem img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.LinkPaginaAtual{
    text-decoration: none;
    color: #2E9984;
    font-size: 34px; /* Diminuir na de admin  */
    font-weight: 400;
    text-decoration-line: underline;
}

main{
    margin-top: 145px;
}

.Banner{
    background-image: url(../assets_/Background.jpg);
    height: 512px;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    margin-bottom: 100px;
}

.ContainerBanner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Banner h1{
    width: 620px;
    color: white;
    font-size: 64px;
    font-weight: 400;
}

.ContainerBanner .Link{
    color: white;
    background-color: #5FAD9E;
    padding: 30px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
}

.ClinicasParceiras{
    margin-bottom: 100px;
}

.ContainerClinicasParceiras{
    display: flex;
    justify-content: space-between;
    padding-left: 254px;
    position: relative;
    height: 530px;
}

.QuadradoClinicasParceiras{
    width: 366px;
    height: 402px;
    background-color: #5FAD9E;
    margin-right: 71px;
}

.ImagemClinicasParceiras{
    width: 586px;
    height: 495px;
    position: absolute;
    z-index: 98;
    top: 35px;
    left: 0px;
    object-fit: cover;
}

.BoxClinicasParceiras{
    font-weight: 400;
    width: 508px;
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.BoxClinicasParceiras p{
    font-size: 45px;
    color: #52615E;
}

.BoxClinicasParceiras .Link{
    color: white;
    background-color: #5FAD9E;
    padding: 30px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.Consultas{
    margin-bottom: 100px;
}

.ContainerConsultas{
    display: flex;
    justify-content: space-between;
    padding-right: 254px;
    position: relative;
    height: 530px;
}

.QuadradoConsultas{
    width: 366px;
    height: 402px;
    background-color: #5FAD9E;
    margin-left: 71px;
}

.ImagemConsultas{
    width: 588px;
    height: 497px;
    position: absolute;
    z-index: 98;
    top: 33px;
    right: 0px;
    object-fit: cover;
}

.BoxConsultas{
    font-weight: 400;
    width: 508px;
    height: 100%;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.BoxConsultas p{
    font-size: 45px;
    color: #52615E;
    text-align: right;
}

.BoxConsultas a{
    color: white;
    background-color: #5FAD9E;
    padding: 30px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

footer{
    background-color: #356158;
    height: 360px;
}

.ContainerFooter{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.BoxFooterEsquerda{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

.BoxFooterEsquerda span{
    color: white;
    font-size: 30px;
    text-align: right;
}

.BoxFooterEsquerda ul{
    color: white;
    font-size: 22px;
    text-align: right;
    list-style: inside;
}

.BoxFooterEsquerda ul li{
    margin-bottom: 20px;
}

.BoxFooterDireita{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.BoxFooterDireita span{
    color: white;
    font-size: 30px;
    text-align: left;
}

.BoxFooterDireita ul{
    color: white;
    font-size: 22px;
    text-align: left;
    list-style: inside;
}

.BoxFooterDireita ul li{
    margin-bottom: 20px;
}

@media(max-width:760px){

    /* Header, footer e grid abaixo */


    .ContainerGrid{
        width: 730px;
    }

    .LogoHeader{
        margin-right: 30px;
        width: 75px;
        height: 75px;
    }

    .LinkPaginaAtual{
        font-size: 22px;
    }

    .LinkPagina{
        font-size: 22px;
    }

    .LinkImagem img{
        height: 50px;
        width: 50px;
    }

    .BoxFooterEsquerda{
        width: 250px;
    }

    .BoxFooterEsquerda span{
        font-size: 22px;
    }

    .BoxFooterEsquerda ul{
        font-size: 15px;
    }

    .ContainerFooter img{
        height: 75px;
        height: 75px;
    }

    .BoxFooterDireita{
        width: 250px;
    }

    .BoxFooterDireita span{
        font-size: 22px;
    }

    .BoxFooterDireita ul{
        font-size: 15px;
    }


    /* Header, footer e gridacima */


    .Banner{
        height: 300px;
    }

    .Banner h1{
        font-size: 42px;
    }

    .ContainerBanner a{
        font-size: 25px;
        text-align: center;
    }

    .ContainerClinicasParceiras, .ContainerConsultas{
        height: 321px;
    }

    .ImagemClinicasParceiras, .ImagemConsultas{
        width: 400px;
        height: 300px;
        top: 22px;
    }

    .QuadradoClinicasParceiras, .QuadradoConsultas{
        width: 366px;
        height: 250px;
    }

    .QuadradoClinicasParceiras{
        margin-right: 50px;
    }

    .QuadradoConsultas{
        margin-left: 50px;
    }

    .BoxClinicasParceiras, .BoxConsultas{
        padding-top: 0px;
    }

    .BoxClinicasParceiras p, .BoxConsultas p{
        font-size: 25px;
    }

    .BoxClinicasParceiras a, .BoxConsultas a{
        padding: 20px;
        font-size: 25px;
    }
}